$color-primary: #002868;
$color-youtube: #d83939;
$color-video: $color-primary;
$color-white: #fff;
$color-border: #dee2e6;
$color-custom-model: #27ae60;
$color-selected: #4f4f4f;

.tab-pane.active {
  background: none !important;
  background-color: none !important;
  color: none !important;
}

.products {
  overflow: hidden !important;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
  border: 1px solid $color-primary !important;
}

.color-box {
  display: flex;
  height: 38px;
  width: 38px;
  min-width: 38px;
  border: 1px solid $color-selected;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 0 !important;
  cursor: pointer;
  overflow: hidden;
  &.active {
    border: 3px solid $color-primary;
  }

  &__action {
    margin: auto;
    font-size: 24px;
    font-weight: 600;
  }
}

.choose-color-select {
  // width: 260px;

  &.open {
    .dropdown-menu {
      display: block;
    }
  }

  .color-box {
    height: 30px;
    width: 30px;
    min-width: 30px;
  }

  .color-btn {
    color: #000 !important;
  }

  .dropdown-menu {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  a.active {
    background-color: $color-primary !important;
    color: $color-white !important;
  }
}

.themes_design_3 .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main {
  padding-left: 70px !important;
  padding-right: 10px !important;
}

.product-edit {
  &__select-first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
    width: 72vw !important;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 93vh;
    width: 72vw !important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0 !important;
    margin-left: 10px;
    height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 72vw !important;
    .card {
      background-color: $color-primary !important;
    }
    .card-title {
      font-size: 26px;
      color: $color-white;
      font-weight: 700;
    }
    .card-subtitle {
      color: $color-white;
    }

    #p-style-head {
      margin-left: -10px !important;
      margin-right: -10px !important;
      padding: 10px 20px !important;
      display: flex;
    }
  }
}

.search-sidebar {
  height: 94.5vh;
  width: 350px;
  overflow: hidden;
  &__tabs {
    a {
      border-width: 1px !important;
      transition: none !important;
    }
  }

  &__searchbar {
  }

  &__searchbar-input {
    display: flex;
    button {
      background: #002868;
      color: #fff;
      padding: 0 15px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin-left: -4px;
    }
  }

  &__filters {
  }

  &__list {
    overflow-y: scroll;
    max-height: 75vh;
    width: 97% !important;
    padding: 0;
    list-style: none;
    li {
      &:nth-child(even) {
        background-color: rgb(243, 243, 243);
      }

      &.selected {
        color: $color-white !important;
        background-color: $color-primary !important;

        .product-search-card {
          &__stylecode {
            font-weight: 700;
            color: $color-white;
          }

          &__description {
            color: $color-white;
          }

          &__styleid {
            font-weight: 700;
            color: $color-white;
          }

          &__price {
            font-weight: 700;
            color: $color-white;
          }
        }
      }
    }
  }

  &__items {
    padding-right: 0 !important;
  }
}

.product-search-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px !important;

  &__stylecode {
    color: #007bff;
  }

  &__description {
    color: #6c757d;
  }

  &__styleid {
    color: #007bff;
  }

  &__price {
    color: #007bff;
  }
}

.image-picker-placeholder {
  border: 3px dashed #5f6468;
  display: flex;
  flex-direction: column;
}

.image-picker-placeholder > svg {
  width: 8rem;
  height: 8rem;
  color: #5f6468;
  margin-right: auto;
  margin-left: auto;
}

.image-picker-placeholder {
  color: #428bca;
  text-align: center;
}

.live-preview {
  iframe {
    width: 1400px !important;
    height: 800px;
  }
}

#productEditContent {
  height: 93vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#cdetails {
  padding: 0 20px;
  background: #fff;

  #p-style-head {
    display: flex;
  }
}
